common --experimental_enable_bzlmod
common --registry=https://raw.githubusercontent.com/fantasma/fantasma_bazel_registry/trunk
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main
